<div class="min-h-screen flex">
  <!-- Sección Izquierda: Formulario de Registro -->
  <div class="w-full md:w-1/2 flex items-center justify-center bg-white">
    <div class="w-full max-w-md p-1">
      <div class="text-center mb-8">
        <i class="fas fa-id-card text-6xl text-green-600"></i>
        <h2 class="text-3xl font-bold text-gray-800">Registro</h2>
        <p class="text-gray-600 mt-2">Crea una cuenta para comenzar</p>
      </div>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="mb-6">
          <label for="name" class="block text-sm font-medium text-gray-700 mb-1">Nombre</label>
          <input id="name" formControlName="name" type="text"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            placeholder="Ingresa tu nombre" />
          <div class="text-red-500 text-xs mt-1"
            *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
            <span *ngIf="registerForm.get('name')?.hasError('required')">Campo requerido</span>
            <span *ngIf="registerForm.get('name')?.hasError('minlength')">El nombre debe tener al menos 3
              caracteres.</span>
            <span *ngIf="registerForm.get('name')?.hasError('noXSSValidator')">El campo contiene caracteres no
              permitidos</span>
          </div>
        </div>

        <div class="mb-6">
          <label for="email" class="block text-sm font-medium text-gray-700 mb-1">Correo electrónico</label>
          <input id="email" formControlName="email" type="email"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            placeholder="Ingresa tu correo" />
          <div class="text-red-500 text-xs mt-1"
            *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
            <span *ngIf="registerForm.get('email')?.hasError('required')">El correo es requerido</span>
            <span *ngIf="registerForm.get('email')?.hasError('email')">Correo no válido</span>
            <span *ngIf="registerForm.get('email')?.hasError('noXSSValidator')">El campo contiene caracteres no
              permitidos</span>
          </div>
        </div>

        <div class="mb-6">
          <label for="phone" class="block text-sm font-medium text-gray-700 mb-1">Teléfono</label>
          <input id="phone" formControlName="phone" type="text"
            class="mt-1 block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
            placeholder="Ingresa tu teléfono" />
          <div *ngIf="registerForm.get('phone')?.touched && registerForm.get('phone')?.invalid"
            class="text-red-500 text-sm mt-1">
            <small *ngIf="registerForm.get('phone')?.hasError('required')">El teléfono es obligatorio.</small>
          </div>
        </div>

        <!-- Campo de Contraseña -->
        <!-- Campo de Contraseña (usando el componente reutilizable) -->
        <app-password-toggle [control]="registerForm.get('password')" placeholder="Ingresa tu contraseña">
        </app-password-toggle>

        <button type="submit"
          class="w-full bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-700 focus:outline-none transition-all"
          [disabled]="registerForm.invalid">
          {{'Registrar' }}
        </button>

      </form>
    </div>
  </div>

  <!-- Sección Derecha: Degradado -->
  <div
    class="hidden md:flex flex-col justify-center items-center w-1/2 bg-gradient-to-r from-blue-500 to-green-400 text-white p-8 space-y-4">
    <h2 class="text-4xl font-bold text-center">¡Bienvenido!</h2>
    <p class="text-lg text-center max-w-md">
      Únete a nuestra comunidad y disfruta de beneficios exclusivos. Regístrate para comenzar.
    </p>
    <i class="fas fa-users text-6xl opacity-80"></i>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">