:host ::ng-deep {
  .mat-calendar {
    width: 100%;
    max-width: 700px;
  }

  .mat-calendar-body-cell {
    position: relative;
    height: 100px !important;
    transition: background-color 0.2s;
  }

  .has-orders::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    width: 8px;
    height: 8px;
    background-color: #ef4444;
    border-radius: 50%;
  }

  .mat-calendar-body-today {
    border: 2px solid #3b82f6 !important;
  }

  .mat-calendar-body-selected {
    background-color: #dbeafe !important;
  }

  :host-context(.dark) .mat-calendar-body-selected {
    background-color: #1e3a8a !important;
  }
}