<div [formGroup]="parentForm">
    <!-- Contraseña -->
    <div class="mb-6">
        <label [for]="passwordControlName" class="block text-sm font-medium text-gray-700 mb-1">Contraseña<span
                class="text-red-500">*</span></label>
        <div class="relative">
            <input [id]="passwordControlName" [formControlName]="passwordControlName"
                [type]="passwordVisible ? 'text' : 'password'"
                class="mt-1 block w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
                placeholder="Ingresa tu contraseña" />
            <i class="fas fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
            <button type="button" (click)="togglePasswordVisibility()"
                class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500 hover:text-gray-700 focus:outline-none">
                <i [class]="passwordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </button>
        </div>
        <div class="text-red-500 text-xs mt-1"
            *ngIf="parentForm.get(passwordControlName)?.invalid && parentForm.get(passwordControlName)?.touched">
            <span *ngIf="parentForm.get(passwordControlName)?.hasError('required')">La contraseña es requerida</span>
            <span *ngIf="parentForm.get(passwordControlName)?.hasError('minlength')">La contraseña debe tener al
                menos 8 caracteres</span>
            <span *ngIf="parentForm.get(passwordControlName)?.hasError('noXSSValidator')">El campo contiene
                caracteres no permitidos</span>
            <span *ngIf="parentForm.get(passwordControlName)?.hasError('pwned')">Esta contraseña ha sido comprometida en
                filtraciones de datos. Considera usar otra. </span>
        </div>
        <!-- Barra de fortaleza -->
        <div class="strength-container">
            <div class="strength-bar" [style.width.%]="strength" [ngClass]="strengthClass"></div>
        </div>
    </div>

    <!-- Confirmar Contraseña -->
    <div class="mb-6" *ngIf="showConfirmPassword">
        <label [for]="confirmPasswordControlName" class="block text-sm font-medium text-gray-700 mb-1">Confirmar
            Contraseña<span class="text-red-500">*</span></label>
        <div class="relative">
            <input [id]="confirmPasswordControlName" [formControlName]="confirmPasswordControlName"
                [type]="confirmPasswordVisible ? 'text' : 'password'"
                class="mt-1 block w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all"
                placeholder="Confirmar contraseña" />
            <i class="fas fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
            <button type="button" (click)="toggleConfirmPasswordVisibility()"
                class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-500 hover:text-gray-700 focus:outline-none">
                <i [class]="confirmPasswordVisible ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
            </button>
        </div>

        <div *ngIf="parentForm.get(confirmPasswordControlName)?.hasError('mismatch') && parentForm.get(confirmPasswordControlName)?.touched"
            class="text-red-500 text-xs mt-1">
            Las contraseñas no coinciden.
        </div>
        <div class="text-red-500 text-xs mt-1"
            *ngIf="parentForm.get(confirmPasswordControlName)?.invalid && parentForm.get(confirmPasswordControlName)?.touched && !parentForm.get(confirmPasswordControlName)?.hasError('mismatch')">
            <span *ngIf="parentForm.get(confirmPasswordControlName)?.hasError('required')">La confirmación de contraseña
                es requerida</span>
        </div>
    </div>
</div>