<aside [ngClass]="{'w-64': sidebarOpen, 'w-20': !sidebarOpen}" class="bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text min-h-screen p-4 transition-all duration-300 shadow-lg">
  <div class="p-2 flex items-center justify-between border-b border-gray-200 dark:border-gray-600">
    <h2 *ngIf="sidebarOpen" class="text-xs font-bold text-light-primary dark:text-dark-primary">Administración</h2>
    <button (click)="toggleSidebar()" class="p-2 hover:bg-light-row-hover dark:hover:bg-dark-row-hover rounded">
      <i class="fas fa-bars text-xl text-light-secondary dark:text-dark-secondary hover:text-light-primary dark:hover:text-dark-primary transition-all duration-300"></i>
    </button>
  </div>

  <nav class="mt-8 space-y-2">
    <a *ngFor="let item of navItems" [routerLink]="item.path" class="group flex items-center p-3 hover:bg-light-row-hover dark:hover:bg-dark-row-hover rounded transition-all duration-300 relative">
      <i class="fas {{ item.icon }} text-lg text-light-secondary dark:text-dark-secondary hover:text-light-primary dark:hover:text-dark-primary mr-3"></i>
      <span *ngIf="sidebarOpen" class="text-light-secondary dark:text-dark-secondary hover:text-light-primary dark:hover:text-dark-primary">{{ item.label }}</span>
      <span *ngIf="!sidebarOpen" class="absolute left-16 hidden group-hover:block bg-gray-800 dark:bg-gray-900 text-white dark:text-dark-text text-xs rounded-lg px-2 py-1 opacity-0 group-hover:opacity-100 transition-opacity duration-200">{{ item.label }}</span>
    </a>
  </nav>
</aside>