<div class="flex min-h-screen  bg-white dark:bg-gray-900">
  <!-- Sidebar (visible solo para administradores) -->
  <app-sidebar
    *ngIf="isLoggedIn && userRole === 'administrador'"
    [sidebarOpen]="isSidebarOpen"
    [logoPreview]="logoPreview"
    [companyName]="companyName"
    (toggleSidebarEvent)="toggleSidebar()"
    (logout)="logout()"
  ></app-sidebar>

  <!-- Contenido principal -->
  <div class="flex flex-col flex-1">
    <app-header></app-header>
    <main class="flex-grow">
      <router-outlet></router-outlet>
    </main>
    <app-footer></app-footer>
    <app-toast></app-toast>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">