<footer class="bg-light-background dark:bg-dark-background text-light-text dark:text-dark-text py-6">
  <div class="max-w-screen-xl mx-auto px-1">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mb-8">
      <div>
        <h4 class="font-bold text-lg mb-4">Compañía</h4>
        <ul class="space-y-3">
          <li><a href="#" class="hover:text-light-primary dark:hover:text-dark-primary">Acerca de</a></li>
          <li><a href="support-inquiry" class="hover:text-light-primary dark:hover:text-dark-primary">Consulta soporte</a></li>
          <li><a href="legal" class="hover:text-light-primary dark:hover:text-dark-primary">Documentos legales</a></li>
        </ul>
      </div>
      <div>
        <h4 class="font-bold text-lg mb-4">Atención al cliente</h4>
        <ul class="space-y-3">
          <li><a href="#" class="hover:text-light-primary dark:hover:text-dark-primary">Ayuda</a></li>
          <li><a href="#" class="hover:text-light-primary dark:hover:text-dark-primary">Envíos</a></li>
          <li><a href="#" class="hover:text-light-primary dark:hover:text-dark-primary">Devoluciones</a></li>
          <li><a href="#" class="hover:text-light-primary dark:hover:text-dark-primary">Métodos de Pago</a></li>
        </ul>
      </div>
      <div>
        <h4 class="font-bold text-lg mb-4">Contáctanos</h4>
        <div class="flex space-x-4">
          <a href="https://wa.me/7711983714" class="hover:text-light-primary dark:hover:text-dark-primary">
            <i class="fab fa-whatsapp text-2xl"></i>
          </a>
          <a href="mailto:htapiahailie@gmail.com" class="hover:text-light-primary dark:hover:text-dark-primary">
            <i class="fas fa-envelope text-2xl"></i>
          </a>
          <a href="https://maps.app.goo.gl/irSjJ9RzgT6yxpCz7" class="hover:text-light-primary dark:hover:text-dark-primary" target="_blank">
            <i class="fas fa-map-marker-alt text-2xl"></i>
          </a>
        </div>
      </div>
      <div>
        <h4 class="font-bold text-lg mb-4">Síguenos</h4>
        <div class="flex space-x-4">
          <a href="https://www.facebook.com/filograficos?mibextid=LQQJ4d" class="hover:text-light-primary dark:hover:text-dark-primary">
            <i class="fab fa-facebook text-2xl"></i>
          </a>
          <a href="#" class="hover:text-light-primary dark:hover:text-dark-primary">
            <i class="fab fa-twitter text-2xl"></i>
          </a>
          <a href="#" class="hover:text-light-primary dark:hover:text-dark-primary">
            <i class="fab fa-instagram text-2xl"></i>
          </a>
          <a href="#" class="hover:text-light-primary dark:hover:text-dark-primary">
            <i class="fab fa-youtube text-2xl"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="border-t border-gray-300 dark:border-gray-600 pt-4 text-center">
      <p class="text-sm text-light-secondary dark:text-dark-secondary">
        © 2025 {{ companyInfo?.name || 'Filográficos' }}. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>