/* Estilos para el modal */
.modal-content {
    max-height: 80vh; /* Limita la altura máxima al 80% del viewport */
    display: flex;
    flex-direction: column;
  }
  
  .modal-body {
    flex: 1;
    overflow-y: auto; /* Hace que el contenido sea desplazable */
  }
  
  /* Estilos para el botón de cierre */
  .modal-footer {
    border-top: 1px solid #e5e7eb; /* Borde superior */
    padding: 1rem; /* Espaciado interno */
  }