<div class="mb-6">
  <label for="password" class="block text-sm font-medium text-gray-700 mb-1 flex items-center gap-2">
    Contraseña Actual <span class="text-red-500">*</span>
  </label>
  <div class="relative">
    <input [id]="control ? control.name : 'password'" [type]="showPassword ? 'text' : 'password'" [formControl]="control"
      class="mt-1 block w-full px-4 py-2 pl-10 pr-10 bg-gray-50 border border-gray-200 rounded-md shadow-sm focus:ring-2 focus:ring-red-600 focus:border-red-600 transition-all duration-300"
      [placeholder]="placeholder" />
    <i class="fas fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-red-600"></i>
    <button type="button" (click)="togglePasswordVisibility()"
      class="absolute inset-y-0 right-0 pr-3 flex items-center text-red-600 hover:text-red-700 focus:outline-none">
      <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'" class="text-sm"></i>
    </button>
  </div>
  <div class="text-red-500 text-xs mt-1" *ngIf="control?.invalid && control?.touched">
    <span *ngIf="control?.hasError('required')">El campo es requerido</span>
    <span *ngIf="control?.hasError('minlength')">Requiere mínimo 8 caracteres</span>
    <span *ngIf="control?.hasError('noXSSValidator')">El campo contiene caracteres no permitidos</span>
  </div>
</div>