<div class="mb-4">
  <label [for]="control ? control.name : 'password'" class="block text-sm font-medium text-light-secondary dark:text-dark-secondary mb-1 flex items-center gap-2">
    {{ label }} <span class="text-light-danger dark:text-dark-danger">*</span>
  </label>
  <div class="relative">
    <input [id]="control ? control.name : 'password'" [type]="showPassword ? 'text' : 'password'" [formControl]="control"
      class="mt-1 block w-full pl-10 pr-4 py-2 bg-light-background dark:bg-dark-background border border-gray-200 dark:border-gray-600 rounded-md shadow-sm text-light-text dark:text-dark-text placeholder-light-secondary dark:placeholder-dark-secondary focus:ring-2 focus:ring-light-primary-hover dark:focus:ring-dark-primary-hover focus:border-light-primary-hover dark:focus:border-dark-primary-hover transition-all duration-300"
      [placeholder]="placeholder" />
    <i class="fas fa-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-light-primary dark:text-dark-primary"></i>
    <button type="button" (click)="togglePasswordVisibility()"
      class="absolute inset-y-0 right-0 pr-3 flex items-center text-light-primary dark:text-dark-primary hover:text-light-primary-hover dark:hover:text-dark-primary-hover focus:outline-none transition-all duration-300">
      <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'" class="text-sm"></i>
    </button>
  </div>
  <div class="text-light-danger dark:text-dark-danger text-xs mt-1" *ngIf="control?.invalid && control?.touched">
    <span *ngIf="control?.hasError('required')">El campo es requerido</span>
    <span *ngIf="control?.hasError('minlength')">Requiere mínimo 8 caracteres</span>
    <span *ngIf="control?.hasError('noXSSValidator')">El campo contiene caracteres no permitidos</span>
  </div>
</div>